<footer class="container-fluid" id="footer">
    <div class="row-fluid">

        <p class="text-muted">
          <b>
            &copy; Copyright {{ now|date('Y') }} - {{ setting_get('streams::name', trans('distribution::name')) }} - All Rights Reserved
          </b>
        </p>

    </div>
</footer>